body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
th{
  background-color: rgb(92 185 92) !important;
}
.breadcrumb{
  background-color: rgb(245 245 245) !important;
  width: 100%;
  padding: 12 !important;
}
.styleNumberGood{
  border: 1px solid lightgreen !important;
}
.styleNumberNoGood{
  border: 1px solid tomato !important;

}